.col-md-12{
	height: 54px;
	background-color: #9C0C26;
}
nav{
	padding-top: 55px;
}
nav ul li {
	list-style-type: none;
	display: inline;
}
#tete{
	background-color: #E8E5E8;
}
#classement{
	color: #75E855;
}
.col-md-12 ul {
	list-style-type: none;
}